[submodule "src/vblob_src"]
  path = src/vblob_src
  url = https://github.com/cloudfoundry/vblob.git
[submodule "src/services_warden"]
  path = src/services_warden
  url = https://github.com/cloudfoundry/warden.git
[submodule "src/services/govendor"]
  path = src/services/govendor
  url = https://github.com/cloudfoundry/govendor.git
[submodule "src/tools"]
  path = src/tools
  url = https://github.com/cloudfoundry/vcap-tools.git
[submodule "src/services/ng/swift_service"]
	path = src/services/ng/swift_service
	url = https://github.com/anynines/cf_swift_service.git
[submodule "src/postgresql/pgextwlist"]
	path = src/postgresql/pgextwlist
	url = https://github.com/dimitri/pgextwlist.git
[submodule "packages/ruby"]
	path = packages/ruby
	url = https://github.com/cloudfoundry/ruby-package.git
